<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Sentiment</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Sentiment</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}" method="POST">
      <input type="input" name="message" placeholder="Message" required="required" style="height: 100px;"/><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>

    <div>
      {{prediction}}
    </div>
   
 </div>

</body>
</html>
